<!DOCTYPE html>
<html>
<head>
    <!-- JQuery -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>

    <!-- bootstrap -->
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

    <!-- Font Awesome-->
    <link rel="stylesheet prefetch" href="http:////netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css">

    <!-- CSS stylesheets -->
    <link rel='stylesheet' href='stylesheets/index.css'/>
    <link rel='stylesheet' href='stylesheets/socialIcons.css'/>
</head>
<body>

<!--Nav bar-->
<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#">RTS</a>
        </div>
        <div id="" class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                <li class="active"><a href="#">Home</a></li>
                <li><a href="#about">About</a></li>
                <li><a href="#contact">Contact</a></li>

            </ul>
            <ul class="nav navbar-nav navbar-right" id="login">
                <li><a href="./" style="color:white;">Login / Register<span class="sr-only">(current)</span></a></li>
            </ul>
        </div>
    </div>
</nav>

<div class="container-fluid">

    <!--Row for the game screen-->
    <div class="row">
        <div class="col-md-12 text-center" id="gameDiv">
            <h1 id="title">Real Time Strategy</h1>
        </div>
    </div>

    <!--Social media icons and links-->
    <div class="row" id="social">
        <ul class="social-icons icon-circle icon-zoom list-unstyled list-inline text-center">
            <li> <a href="https://github.com/vanhunick/RTS" target="_blank"><i class="fa fa-github"></i></a></li>
        </ul>
    </div>
</div>
</body>
</html>

<!--Scripts-->
<script src="javascripts/pixi.min.js"></script>
<script src="javascripts/traviso.js"></script>
<script src="javascripts/Game.js"></script>