
<head>
    <script src="javascripts/pixi.min.js"></script>
    <script src="javascripts/traviso.js"></script>
    <script src="javascripts/Game.js"></script>
</head>

<h1>{{title}}</h1>
<p>Welcome to {{title}}</p>
<div id="game">The best game ever</div>
