body {
    background-color: #333333;
}

#gameDiv {

}

/*The top title of the game*/
#title {
    font-size: 300%;
    color: #bbbbbb;
    margin-top: 2%;
    margin-bottom: 2%;
}

#navbar {
    background-color: #bbbbbb;
    margin-left: 0;
}

#login {
    background-color: orangered;
}